.swiper.mainSlider {
  width: 100%;
  height: 100%;
}

.swiper.mainSlider .swiper-slide {
  position: relative;
  width: 100%;
  height: 100%;
}

.swiper.mainSlider .swiper-slide img {
  width: 100%;
  height: 100%;
}

.swiper.mainSlider .swiper-slide p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 12px 22px;
  white-space: nowrap;
  backdrop-filter: blur(6px);
  font-size: 2rem;
  color: white;
  letter-spacing: 10px;
  border-radius: 8px;
}
